<div class="container">
	<div class="row my-5">
		<div class="col-md-8">
			<h3 class="text-center">{{selected.name}}</h3>
			<div class="card">
				<div class="card-body">
					<p class="row card-text lead">
						<span class="col-3"><span class="font-weight-bold" data-toggle="tooltip"
							data-placement="top" title="Level">Lv.</span> {{selected.lvl}}</span>
						<span class="col-3"><span class="font-weight-bold" data-toggle="tooltip"
							data-placement="top" title="Strength">STR</span> {{selected.str}}</span>
						<span class="col-3"><span class="font-weight-bold" data-toggle="tooltip"
							data-placement="top" title="Agility">AGI</span> {{selected.agi}}</span>
						<span class="col-3"><span class="font-weight-bold" data-toggle="tooltip"
							data-placement="top" title="Intelligence">INT</span> {{selected.int}}</span>
					</p>
					<p class="row card-text lead">
						<span class="col-3"><i class="fas fa-fw fa-heart" data-toggle="tooltip"
							data-placement="top" title="Health points"></i> {{selected.hp}}</span>
						<span class="col-3"><i class="fas fa-fw fa-bolt" data-toggle="tooltip"
							data-placement="top" title="Skill points"></i> {{selected.sp}}</span>
						<span class="col-3"><i class="fas fa-fw fa-coins" data-toggle="tooltip"
							data-placement="top" title="Gold"></i> {{selected.gold}}</span>
						<span class="col-3"><i class="fas fa-fw fa-door-open" data-toggle="tooltip"
							data-placement="top" title="Current best dungeon"></i> {{selected.currBestDungeon}}</span>
					</p>
					<p class="row card-text lead">
						<span class="col-3"><i class="fas fa-fw fa-medal" data-toggle="tooltip"
							data-placement="top" title="Achievements"></i> {{selected.achievements}}/{{maxAchievements}}</span>
						<span class="col-3"><i class="fas fa-fw fa-skull" data-toggle="tooltip"
							data-placement="top" title="Rebirths"></i> {{selected.rebirths}}</span>
						<span class="col-3 offset-3"><i class="fas fa-fw fa-door-closed" data-toggle="tooltip"
							data-placement="top" title="All time best dungeon"></i> {{selected.bestDungeon}}</span>
					</p>
				</div>
			</div>
			<div class="offset-3 col-6 py-3">
				<button class="btn btn-primary btn-lg btn-block" ng-click="enterWorld()">Enter world</button>
			</div>
		</div>
		<div class="card border-light col-md-4 px-0">
			<h4 class="card-header text-center">Select your hero</h4>
			<div class="card-body">
				<button class="btn btn-primary btn-block" ng-class="selected === character ? 'active' : ''"
					ng-repeat="character in characters" ng-click="select(character)">
					{{character.name}}
				</button>
				<button class="btn btn-info btn-block">
					Create hero
				</button>
			</div>
		</div>
	</div>
</div>
