.login-input {
    display: block;
    width: 100%;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,0.3);
    color: #EEE;
    transition: border 0.2s;
}

.login-input:focus {
    outline: none;
    border-bottom: 2px solid #375a7f;
}

.sidebar-wrapper {
    min-height: 100%;
}

.sidebar-wrapper .list-group {
    width: 15rem;
}

.sidebar-wrapper .list-group .list-group-item.active {
    padding-left: 2rem;
    background-color: #171616 !important;
    font-weight: bold;
}